<div class="lobster_card container" id="<%= user.escape('id')%>" >
  <!-- <a href="#user" ><span class="lobster_span"></span></a> -->
  <!-- add whether the lobster is godlike or new -->
  <div class="img-row row">
    <div class="image-container">
      <img src="<%= user.escape('img_sm_url') %>" 
      class="img-circle-sm">
    </div>
  </div>
  <div class="name-row row col-12">
    <h3 class="name"><%= user.escape("name") %></h3>
  </div>
  <div class="details-row col-12">
    <div class="details rating col-lg-6">
      <h4><%= user.escape("average_score") %>% Positive Rating</h4>
      <p><%= user.escape("total_reviews") %> reviews </p>
    </div>
    <div class="details rate col-lg-6">
      <h4>$<%= user.escape("rate") %>/hour</h4>
      <p><%= user.escape("skill") %></p>
    </div>
  </div>
  <div class="button-row row">
    <a 
    class="btn btn-primary"
    href="#users/<%= user.escape('id') %>/hire">
    Hire
  </a>
</div>
</div>



