<div class="lobster-card" id="<%= user.escape('id')%>" >
  <div class="img-row row">
    <div class="image-container">
      <img src="<%= user.escape('img_sm_url') %>" 
      class="img-circle-sm">
    </div>
  </div>
  <div class="name-row row">
    <h3 class="name"><%= user.escape("name") %></h3>
  </div>
  <div class="details-row row">
    <div class="details rating col-lg-6">
      <p><%= user.escape("average_score") %>% Positive Rating</p>
      <p class='small'><%= user.escape("total_reviews") %> reviews </p>
    </div>
    <div class="details rate col-lg-6">
      <p>$<%= user.escape("rate") %>/hour</p>
      <p class='small'><%= user.escape("skill") %></p>
    </div>
  </div>
  <div class="button-row row">
    <a 
    class="btn btn-primary"
    href="#users/<%= user.escape('id') %>/hire">
    Hire
  </a>
</div>
</div>