<div class="lobster-card dash-card" id="<%= user.escape('id')%>" >
  <!-- <a href="#user" ><span class="lobster_span"></span></a> -->
  <div class="status"> <!-- whether the lobster is godlike or new -->

    <div class="image-container">
      <img src="<%= user.get('img_sm_url') %>" class="img-circle-sm">
    </div>
    <div class="lobster_details">
      <h3 class="name"><%= user.escape("name") %></h3>
      <div class="secondary_details skills">
        <ul class="no-bullets">
          <li><%= user.get("skill") %></li>
        </ul>
      </div>
    </div>
    <div class="button-row row">
      <a 
      class="btn btn-primary"
      href="#users/<%= user.escape('id') %>/hire">
      Hire
    </a>
  </div>
</div>
</div>