<div class="container">
  <form class="top-aligned" id="hire-form">
    <div class="row">
      <div class="col-lg-3 lobster-info-container">
        <div class="lobster-image">
          <div class="image-container">
            <img 
            class="img-circle-md" 
            src="<%= user.escape('img_md_url') %>">
          </div>
        </div>
        <h1 class="lobster-name"><%= user.escape('name') %></h1>
        <div class="lobster-stats-container">
          <div class="row">
            <div class="lobster-rating col-lg-6">
              <h2><%= user.get('average_score') %>%</h2>
              <p>Positive Rating</p>
              <p class="lobster-total"><%= user.get('total_reviews') %> total reviews</p>
            </div>
            <div class="lobster-price col-lg-6">
              <h2>$<%= user.escape('rate') %>/hr</h2>
              <p><%= user.escape("skill") %></p>
            </div>
          </div> <!-- row -->
        </div> <!-- lobster-stats-container -->
      </div> <!-- col-lg-3 -->
      <div class="col-lg-6 form-container">
        <fieldset>
            <label for="task-title">Title</label>
            <input 
            type="text" 
            class="form-control"
            value=""
            id="task-title">
        </fieldset>
          <div class="schedule-container">
            <fieldset>
            <label for="calendar">Date & Time</label>
            <span class="calendar-fields field-group">
              <input 
              data-provide="datepicker" 
              class="datepicker form-control" 
              value="mm/dd/yyyy"
              data-date-format="mm/dd/yyyy"
              id="calendar">
            </span>
            <div class="time-slot-container">
              <div class="radio-button">
                <label class="time-label disabled" for="time_morning">
                  <input class="time-slot-input" id="time_morning" name="timeframe" type="radio" value="morning">
                  <span class="time-slot">
                    Morning
                    <span>(6am - 12pm)</span>
                  </span>
                </label>
              </div>
              <div class="radio-button">
                <label class="time-label disabled" for="time_afternoon">
                  <input class="time-slot-input" id="time_afternoon" name="timeframe" type="radio" value="afternoon">
                  <span class="time-slot">
                    Afternoon
                    <span>(12pm - 6pm)</span>
                  </span>
                </label>
              </div>
              <div class="radio-button">
                <label class="time-label" for="time_evening">
                  <input class="time-slot-input" id="time_evening" name="timeframe" type="radio" value="evening">
                  <span class="time-slot">
                    Evening
                    <span>(6pm - 12am)</span>
                  </span>
                </label>
              </div>
              <div class="radio-button">
                <label class="time-label" for="time_night">
                  <input class="time-slot-input" id="time_night" name="timeframe" type="radio" value="night">
                  <span class="time-slot">
                    Night
                    <span>(12am - 6am)</span>
                  </span>
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <fieldset>
          <div class="row">
            <div class="location-show">
             <h3>Location</h3>
              <div class="input-container col-8">
                <label class="text-label-sm" for="street">Street Address</label>
                <input 
                  class="location-input form-control" 
                  id="street" 
                  name="address" 
                  type="text">
              </div>
              <div class="input-container col-4">
                <label class="text-label-sm" for="postal-code">Zip Code</label>
                <input 
                  class="location-input form-control" 
                  id="zipcode" 
                  name="zipcode" 
                  pattern="[0-9]*" 
                  type="text">
              </div>
            </div>

          </div>
        </fieldset>
        <!--TR gives fieldsets the class 'toggle-area' -->
        <fieldset>
          <h3>Description</h3>
          <div class="input-container">
            <textarea 
            class="input form-control" 
            id="description" 
            name="description" 
            rows="5" 
            cols="50">
          </textarea>
          </div>
        </fieldset>
        <fieldset>
          <div class="phone-edit">
            <i class="ss-dropdown ss-icon toggle-trigger" data-hide=".phone-edit" data-show=".phone-show"></i>
              <h3>Add a cell phone number</h3>
            <p>We need your phone number so the lobster can get in touch with you.</p>
            <div class="input-container col-12">
              <label class="text-label-sm" for="phone">Phone number</label>
              <i class="ss-phone input-icon ss-icon"></i>
              <input 
              type="text" 
              id="phone"
              name="phone" 
              pattern="[0-9]*" 
              value="<%= user.get('phone1') %>">
            </div>
          </div>
        </fieldset>
        <div class="billing-info-container">
          <fieldset>
            <div class="billing-show">
              <h3 class='area-title'>Billing</h3>
              <p>For the security of all parties, we only deal in Bitcoin.
                We use <a href="https://coinbase.com/">Coinbase</a>, which has state of the art security and privacy.
              </p>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="col-lg-3 hire-container">
        <div class="top-section">
          <input 
          class="btn btn-success form-control" 
          type="submit" 
          value="Get it done!">
        </div>
        <div class="happens-next-section">
          <p>Here’s what happens next:</p>
          <ol>
            <li>When you click "Hire," we will send you an email invoice for the security deposit.</li>
            <li>After you reply to the email, your lobster gets in touch within 30 minutes.</li>
            <li>Your task is completed to your satisfaction.</li>
            <li>Once complete, your bitcoin account is charged</li>
            <li>Both of you are richer. Your enemies bow at your feet.</li>
          </ol>
        </div>
      </div>
    </div>
  </form>
</div>