<div class="container">
  <form class="top-aligned" id="hire-form">
    <div class="row">
      <div class="col-lg-3 lobster-info-container">
        <div class="lobster-image">
          <div class="image-container">
            <img 
            class="img-circle-md" 
            src="<%= user.escape('img_md_url') %>">
          </div>
        </div>
        <h1 class="lobster-name"><%= user.escape('name') %></h1>
        <div class="lobster-stats-container">

          <div class="lobster-rating">
            <h2><%= user.get('average_score') %></h2>
            <p>Positive Rating</p>
            <div class="lobster-total"><%= user.get('total_reviews') %></div>
          </div>
<!--hidden input, remove when datepicker exists -->
          <input type="hidden" name="date" value="2015-01-01">

          <div class="lobster-price">
            <h2>Skill.rate</h2>
            <p>Category.title</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 form-container">
        <fieldset>
          <div class="row">
            <div class="title-show toggle-area hidden">
              <p class="area-title">
                <span class="task-title">Category.title</span>
                <i class="ss-icon ss-write toggle-trigger" data-hide=".title-show" data-show=".title-edit"></i>
              </p>
            </div>
            <div class="title-edit toggle-area">
              <div class="input-container col-12">
                <i class="ss-dropdown ss-icon toggle-trigger" data-hide=".title-edit" data-show=".title-show"></i>
                <label class="text-label" for="title">Category</label>
                <select class="category-select form-control" id="cat_id" name="cat_id">
                  <option class="category-option">
                    What do you need done?
                  </option>
                  <% _(user.get('categories')).each(function (category) { %>
                    <option class="category-option" value="<%= category.id %>">
                      <%= category.title %>
                    </option>
                    <% })%>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="schedule-container fields-container"><fieldset>
        
            <div class="schedule-edit toggle-area">
              <span>Pick a date and time</span>
            </p>
            
            <div class="time-slot-container input-container" style="opacity: 1;">
              <div class="radio-button">
                <label class="time-label disabled" for="time_morning">
                  <input class="time-slot-input" id="time_morning" name="timeframe" type="radio" value="morning">
                  <span class="time-slot">
                    Morning
                    <span>(6am - 12pm)</span>
                  </span>
                </label>
              </div>
              <div class="radio-button">
                <label class="time-label disabled" for="time_afternoon">
                  <input class="time-slot-input" id="time_afternoon" name="timeframe" type="radio" value="afternoon">
                  <span class="time-slot">
                    Afternoon
                    <span>(12pm - 6pm)</span>
                  </span>
                </label>
              </div>
              <div class="radio-button">
                <label class="time-label" for="time_evening">
                  <input class="time-slot-input" id="time_evening" name="timeframe" type="radio" value="evening">
                  <span class="time-slot">
                    Evening
                    <span>(6pm - 12am)</span>
                  </span>
                </label>
              </div>
              <div class="radio-button">
                <label class="time-label" for="time_night">
                  <input class="time-slot-input" id="time_night" name="timeframe" type="radio" value="night">
                  <span class="time-slot">
                    Night
                    <span>(12am - 6am)</span>
                  </span>
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <fieldset>
          <div class="row">
            <div class="location-show">
             <h3>Location</h3>
              <div class="input-container col-8">
                <label class="text-label-sm" for="street">Street Address</label>
                <input 
                  class="location-input form-control" 
                  id="street" 
                  name="address" 
                  type="text">
              </div>
              <div class="input-container col-4">
                <label class="text-label-sm" for="postal-code">Zip Code</label>
                <input 
                  class="location-input form-control" 
                  id="zipcode" 
                  name="zipcode" 
                  pattern="[0-9]*" 
                  type="text">
              </div>
            </div>

          </div>
        </fieldset>
        <!--TR gives fieldsets the class 'toggle-area' -->
        <fieldset>
          <div class="row">
            <span class="text-label">Description</span>
            <div class="input-container col-12">
              <label class="text-label" for="description"></label>
              <textarea class="input form-control" id="description" name="description" rows="5" cols="50"></textarea>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="row">
            <div class="phone-edit">
              <i class="ss-dropdown ss-icon toggle-trigger" data-hide=".phone-edit" data-show=".phone-show"></i>
                <h3>Add a cell phone number</h3>
              <p>We need your phone number so the lobster can get in touch with you.</p>
              <div class="input-container col-12">
                <label class="text-label-sm" for="phone">Phone number</label>
                <i class="ss-phone input-icon ss-icon"></i>
                <input 
                type="text" 
                id="phone"
                name="phone" 
                pattern="[0-9]*" 
                value="<%= user.get('phone1') %>">
              </div>
            </div>
          </div>
        </fieldset>
        <div class="billing-info-container">
          <fieldset>
            <div class="billing-show">
              <h3 class='area-title'>Billing</h3>
              <p>For the security of all parties, we only deal in Bitcoin.
                We use <a href="https://coinbase.com/">Coinbase</a>, which has state of the art security and privacy.
              </p>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="col-lg-3 hire-container">
        <div class="top-section">
          <fieldset>
            <div class="row">
              <div class="input-container col-12">
                <input 
                class="btn btn-success" 
                type="submit" 
                value="Make it so">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="btn-section">
          <p class="happens-next">Here’s what happens next:</p>
          <ol>
            <li>When you click "Hire," we will send you an email invoice for the security deposit.</li>
            <li>After you reply to the email, your lobster gets in touch within 30 minutes.</li>
            <li>Your task is completed to your satisfaction.</li>
            <li>Once complete, your bitcoin account is charged</li>
            <li>Both of you are richer. Your enemies bow at your feet.</li>
          </ol>
        </div>
      </div>
    </div>
  </form>
</div>