<div class="lobster_panel" >
  <!-- <a href="#user" ><span class="lobster_span"></span></a> -->
  <div class="row ￿">
    <div class="col-lg-3">
      <div class="image-container">
        <img src="https://s3-us-west-1.amazonaws.com/mobstrlobstr-development/icons/no_image.png" class="img-circle img-md" >
      </div>
      <h2><%= user.escape("name") %></h2>
      <p class="lobster_panel_labels">Goodfella verified</p>
      <a class='btn btn-primary btn-large' href="#users/" + "<%= user.escape('id')%>">Hire!   <span>$<%= user.escape("rate") %>/hour</span></a>
    </div>
    <div class="col-lg-6">
      <h2>I'm the lobster you need...</h2>
      <p><%= user.escape("pitch") %></p>
      <div class="lobster_background">
        <h3>I've been a lobster since [year goes here]</h3>
        <br>
        <h3>I've done [number of accepted tasks] tasks</h3>
        <br>
        <h3>I have a [vehicle, gun] if you need one OR 
          I respond quickly</h3>
      </div>
    </div>
    <div class="col-lg-3">
      <h2>
        <strong><%= user.escape("average_score") %>%</strong>
        <small>Positive Rating</small>
      </h2>
      <p>"<%= user.escape("review") %>"</p>
      <button class="btn btn-default all_reviews_button">Read all reviews</button>
    </div>
  </div>
</div>

